@font-face {
    font-family: 'Lustria';
    src: url('https://cdn.shopify.com/s/files/1/0907/4651/9918/files/Lustria-Regular.ttf?v=1743530722') format('ttf');
    font-weight: 400;
    font-style: normal;
}
span, button {
  font-family: Jost;
}
.product-grid-wrapper .page-width {
    padding: 0px 50px;
}
.product-grid-heading {
   padding-bottom: 30px;
}
.product-grid-heading h2{
    font-family: 'Lustria';
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0px; 
    color: #000;  
    margin: 0;
}
.product-grid-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.product-grid-list {
    width: calc(33% - 10px);
    position: relative;
}
.product-grid-list img {
    width: 100%;
    height: 444px;
    object-fit: cover;
    display: block;
}
.product-icon {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    height: 19px;
}

/* product-grid-popup css start */

.modal-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-self: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.modal-loader.active {
   opacity: 1;
   visibility: visible;
}
.loader-spinner {
  width: 30px;
  height: 30px;
  border: 4px solid #999;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.loader-spinner svg {
  width: 50px;
  height: 50px;
  stroke: #000;
  stroke-linecap: round;
  animation: rotate 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.product-grid-modal.is-active{
  display: flex;
}
.product-grid-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.product-grid-modal-content {
  background: #fff;
  padding: 20px 20px 25px 20px;
  max-width: 311px;
  max-height: 90vh;
  overflow-y: auto;
}
.product-grid-modal-toggle {
  width: 100%;
  display: flex;
  justify-content: right;
  cursor: pointer;
  padding-bottom: 15px;
}
.product-detail-wrapper {
  width: 100%;
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}
.product-form__input legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0;
  margin-bottom: 6px;
}
.product-image, .product-detail {
  width: 50%;
}
.product-image img {
  width: 100%;
  object-fit: cover;
  display: block;
}
.product-title {
  margin-top:0px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
  color: #000;
}
#variant-price {
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
  color: #000;
}
.product_description p {
  font-weight: 300;
  font-size: 14px;
  line-height: 110.00000000000001%;
  letter-spacing: 0;
  margin: 12px 0px 0px 0px;
  color: #000;
}
.color-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
button.color-button {
  font-size: 18px;
  text-transform: capitalize;
  overflow: hidden;
  display: flex;
  padding: 10px 8px 10px 15px;
  letter-spacing: 0px;
  box-sizing: content-box;
  transition: all .3s ease;
  position: relative;
  border: 1px solid #000;
  background: transparent;
  width: 40%;
  cursor: pointer;
}
.color-button.selected {
  border-color: #000000;
  background-color: #000;
  color: #fff;
}
.color-button-indicator {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 100%;
  border-right: 1px solid #000;
}
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}
.custom-select {
  position: relative;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}
.selected-option {
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 6px 13px;
  letter-spacing: 0;
}
.select-downarrow.rotated svg {
  transform: rotate(180deg);
}
.select-downarrow {
      display: flex;
      align-items: center;
      transition: transform .3s ease;
      border-left: 1px solid #000;
      padding: 16px;
}
.product-variants fieldset {
    padding: 0;
    margin: 0 0 1.2rem;
    max-width: 44rem;
    min-width: fit-content;
    border: none;
}
.options:not(.hidden) {
  max-height: 95px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}
.options li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.options li:hover {
  background-color: #000;
  color: #fff;
}
.add-to-cart {
  margin-top: 50px;
}
.add-to-cart-wrapper {
  display: flex;
  justify-content: center;
}

.product-form_addbtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 12px 24px;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color .3s ease;
  width: 100%;
}
span.button-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.48px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.product-form_addbtn span.right-arrow-icon svg {
  width: 33px;
  height: 20px;
  display: block;
  fill: currentColor;
  transition: transform 0.3s ease;
}

.product-grid-modal-content::-webkit-scrollbar {
  width: 3px;         
  height: 3px;        
}
.product-grid-modal-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.product-grid-modal-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.product-grid-modal-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.options::-webkit-scrollbar {
  width: 3px;       
  height: 3px;      
}
.options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.options::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 10px;
}
.options::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* product-grid-popup css end */

@media screen and (max-width: 1110px){
  .product-grid-wrapper .page-width {
    padding: 0px 16px;
  }
.product-grid-list img {
    height: 230px;
}
.product-grid-main {
    gap: 10px;
 }
 .product-grid-list {
    width: calc(50% - 5px);
 }
}


@media screen and (max-width: 768px){ 
  .product-grid-heading {
    text-align: center;
    padding-bottom: 20px;
  }
   .product-grid-heading h2{
     font-size: 24px;   
  }
  .product-grid-list img {
    height: 186px;
}
}